@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
#mainTitle{
    color: #092B04 ;
    background-color:  #50B342;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Scheherazade New';
    text-align: center;
}
.supTitle{
   color: #1b5e20;
   font-size: 45px;
   text-align: center;
   font-family: ' Scheherazade New';
   font-weight: bold;
   font-style: italic;
}
p{
  color: #4e342e;
  font-size: 30px;
  text-align: rights;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
img{
  float: left;
  margin-left: 20px;
 margin-bottom: 10px;
    width: 400px;
 height: 300px;
 border-style: groove;
 border-width: 10px;
 border-color: #379a2a;
 border-radius: 10px;
 }
